.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("./images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__j2Fwh {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: var(--token-nbz2BpSAaulV);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__j2Fwh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__j2Fwh > :global(.__wab_flex-container) > *,
.columns__j2Fwh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__j2Fwh > :global(.__wab_flex-container) > picture > img,
.columns__j2Fwh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__j2Fwh {
  --plsmc-rc-col-gap: 0px;
}
.columns__j2Fwh > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__j2Fwh > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__j2Fwh {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__j2Fwh > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__j2Fwh > :global(.__wab_flex-container) > *,
  .columns__j2Fwh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__j2Fwh > :global(.__wab_flex-container) > picture > img,
  .columns__j2Fwh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__j2Fwh > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__b40Bg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qgbdy {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__qgbdy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qgbdy > :global(.__wab_flex-container) > *,
.freeBox__qgbdy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qgbdy > :global(.__wab_flex-container) > picture > img,
.freeBox__qgbdy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__hGvi5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hGvi5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hGvi5 > :global(.__wab_flex-container) > *,
.freeBox__hGvi5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hGvi5 > :global(.__wab_flex-container) > picture > img,
.freeBox__hGvi5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__pmLZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__kq6G {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-emIQOznJrGFv);
  background: #ffffff;
  padding: 4px 8px;
}
.text__ebh9T {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-tyDAZ_mRcnlC);
}
.text___760Bd {
  font-size: 20px;
  color: var(--token-emIQOznJrGFv);
  line-height: 28px;
}
.freeBox__rqLrt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rqLrt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rqLrt > :global(.__wab_flex-container) > *,
.freeBox__rqLrt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rqLrt > :global(.__wab_flex-container) > picture > img,
.freeBox__rqLrt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__cxTNv:global(.__wab_instance) {
  position: relative;
}
.svg__fn7T3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pLowP {
  height: auto;
}
.svg__zayYr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lDrZp:global(.__wab_instance) {
  position: relative;
}
.svg___9QpmC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__u7QeD {
  height: auto;
  font-weight: 400;
}
.svg__ldq5M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__pHqum {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__uhLTp {
  max-width: var(--token-nbz2BpSAaulV);
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__uhLTp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uhLTp > :global(.__wab_flex-container) > *,
.freeBox__uhLTp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uhLTp > :global(.__wab_flex-container) > picture > img,
.freeBox__uhLTp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mKb8V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___2NKbk {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tyDAZ_mRcnlC);
  line-height: 1;
}
.text__nIysj {
  font-size: 20px;
  color: var(--token-emIQOznJrGFv);
  text-align: left;
  line-height: 28px;
}
.freeBox__ts5Ac {
  max-width: var(--token-nbz2BpSAaulV);
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}
.freeBox__ts5Ac > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ts5Ac > :global(.__wab_flex-container) > *,
.freeBox__ts5Ac > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ts5Ac > :global(.__wab_flex-container) > picture > img,
.freeBox__ts5Ac
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ts5Ac {
    max-width: var(--token-nbz2BpSAaulV);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ts5Ac > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ts5Ac > :global(.__wab_flex-container) > *,
  .freeBox__ts5Ac > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ts5Ac > :global(.__wab_flex-container) > picture > img,
  .freeBox__ts5Ac
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__dEmnR {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__dEmnR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__dEmnR > :global(.__wab_flex-container) > *,
.freeBox__dEmnR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dEmnR > :global(.__wab_flex-container) > picture > img,
.freeBox__dEmnR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dEmnR {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dEmnR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dEmnR > :global(.__wab_flex-container) > *,
  .freeBox__dEmnR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dEmnR > :global(.__wab_flex-container) > picture > img,
  .freeBox__dEmnR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__mXrai:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2GDe7 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__ynvUl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7Drah {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__x23Ok:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qmLpg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__pABmY:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hxL6H {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__lqR {
  height: auto;
}
.freeBox__yO683 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__yO683 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__yO683 > :global(.__wab_flex-container) > *,
.freeBox__yO683 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yO683 > :global(.__wab_flex-container) > picture > img,
.freeBox__yO683
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yO683 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yO683 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yO683 > :global(.__wab_flex-container) > *,
  .freeBox__yO683 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yO683 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yO683
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__jqiof:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wRXiq {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__eZ3TK {
  height: auto;
}
.valueProp__fG5Yx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bcH5Q {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__aKeuS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fMIy9 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___2X4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vuOgo {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__tf9Bt {
  max-width: var(--token-nbz2BpSAaulV);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__tf9Bt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__tf9Bt > :global(.__wab_flex-container) > *,
.columns__tf9Bt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__tf9Bt > :global(.__wab_flex-container) > picture > img,
.columns__tf9Bt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__tf9Bt {
  --plsmc-rc-col-gap: 0px;
}
.columns__tf9Bt > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__tf9Bt > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tf9Bt {
    max-width: var(--token-nbz2BpSAaulV);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tf9Bt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    --plsmc-rc-col-gap: 64px;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tf9Bt > :global(.__wab_flex-container) > *,
  .columns__tf9Bt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__tf9Bt > :global(.__wab_flex-container) > picture > img,
  .columns__tf9Bt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tf9Bt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9ELVd {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__d6UF {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__d6UF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__d6UF > :global(.__wab_flex-container) > *,
.freeBox__d6UF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d6UF > :global(.__wab_flex-container) > picture > img,
.freeBox__d6UF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__gVfUb {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-5xLrfFDRShrf);
}
.h2__yRLzb {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tgrpkE4G9QuW);
  line-height: 1;
}
.text__oNcN {
  font-size: 20px;
  color: var(--token-C8BsyFXMWTB6);
  line-height: 28px;
  height: auto;
}
.button__tdxXk:global(.__wab_instance) {
  position: relative;
}
.svg___03P0G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__oXddR {
  color: var(--token-pupy1e9Ck9H_);
}
.svg__sZbjr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-pupy1e9Ck9H_);
}
.column__pmqZh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__rrZp {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__cNaOm:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__cNaOm:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__byUHf {
  color: var(--token-tgrpkE4G9QuW);
}
.svg__eHhT {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-5xLrfFDRShrf);
}
.listItem__rlFe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__iuZds {
  color: var(--token-tgrpkE4G9QuW);
}
.svg__syyKr {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-5xLrfFDRShrf);
}
.listItem__ipqbb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__pquOt {
  height: auto;
  color: var(--token-tgrpkE4G9QuW);
}
.svg__xqRk7 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-5xLrfFDRShrf);
}
.listItem__kNs7Y:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__fSKfh {
  height: auto;
  color: var(--token-tgrpkE4G9QuW);
}
.svg___9XUsb {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-5xLrfFDRShrf);
}
.listItem__lAdS:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uLMZ {
  height: auto;
  color: var(--token-tgrpkE4G9QuW);
}
.svg__dnZ2J {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-5xLrfFDRShrf);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___8L2E9 {
  max-width: var(--token-nbz2BpSAaulV);
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox___8L2E9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___8L2E9 > :global(.__wab_flex-container) > *,
.freeBox___8L2E9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8L2E9 > :global(.__wab_flex-container) > picture > img,
.freeBox___8L2E9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8L2E9 {
    max-width: var(--token-nbz2BpSAaulV);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8L2E9 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8L2E9 > :global(.__wab_flex-container) > *,
  .freeBox___8L2E9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8L2E9 > :global(.__wab_flex-container) > picture > img,
  .freeBox___8L2E9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__ycyIv {
  display: flex;
  flex-direction: column;
}
.freeBox__ycyIv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ycyIv > :global(.__wab_flex-container) > *,
.freeBox__ycyIv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ycyIv > :global(.__wab_flex-container) > picture > img,
.freeBox__ycyIv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___9135I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___8Dz7W {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tgrpkE4G9QuW);
  line-height: 1;
}
.text__p6My7 {
  font-size: 20px;
  color: var(--token-C8BsyFXMWTB6);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns___83SF {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns___83SF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns___83SF {
  --plsmc-rc-col-gap: 0px;
}
.columns___83SF > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___83SF > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___83SF > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___83SF {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___83SF > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___83SF > :global(.__wab_flex-container) > *,
  .columns___83SF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___83SF > :global(.__wab_flex-container) > picture > img,
  .columns___83SF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___83SF > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ln3N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___71X2O:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard___71X2O:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__utfAz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hijG {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__k37Rn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f6OyR {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__cvp3I {
  height: auto;
}
.column___5QPnZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__utp38:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__tiUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dDh9M {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__cjBDq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__urEnk {
  height: auto;
}
.svg__kH0Il {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__cghGh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__csPuZ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__tq9SM:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__hnZjQ {
  height: auto;
}
.svg___2CvgW {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__h0Bej {
  height: auto;
}
.column__duMO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__iWcag:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__iWcag:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp___3N1Un:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2C3Qg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__cbjM:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__a80B8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__o3Bi {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__ybCtG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ybCtG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ybCtG > :global(.__wab_flex-container) > *,
.freeBox__ybCtG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ybCtG > :global(.__wab_flex-container) > picture > img,
.freeBox__ybCtG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ybCtG {
    position: relative;
  }
}
.text__afKas {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__hqPm5 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tyDAZ_mRcnlC);
  line-height: 1;
  height: auto;
}
.svg__ht9Qw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__mcFg3 {
  height: auto;
  width: auto;
}
.svg__riCmm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___9PqD {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox___9PqD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___9PqD > :global(.__wab_flex-container) > *,
.freeBox___9PqD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9PqD > :global(.__wab_flex-container) > picture > img,
.freeBox___9PqD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9PqD {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9PqD > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9PqD > :global(.__wab_flex-container) > *,
  .freeBox___9PqD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9PqD > :global(.__wab_flex-container) > picture > img,
  .freeBox___9PqD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__y450 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text___3O52 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tyDAZ_mRcnlC);
  line-height: 1;
  height: auto;
}
.svg__c4V9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__oaVvL {
  height: auto;
  width: auto;
}
.svg___1OGdx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner___7XUxg:global(.__wab_instance) {
  position: relative;
}
.text__fVkuo {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__aHknm {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tyDAZ_mRcnlC);
  line-height: 1;
  height: auto;
}
.svg__bxDdD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__v88Hv {
  height: auto;
  width: auto;
}
.svg___0G45N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___5DKw {
  max-width: var(--token-nbz2BpSAaulV);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: row;
}
.freeBox___5DKw > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___5DKw > :global(.__wab_flex-container) > *,
.freeBox___5DKw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5DKw > :global(.__wab_flex-container) > picture > img,
.freeBox___5DKw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__mg3Pm {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__mg3Pm > picture > img {
  object-fit: cover;
}
.img__mg3Pm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___4U4AR {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___4U4AR > picture > img {
  object-fit: cover;
}
.img___4U4AR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__lZlgF {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__lZlgF > picture > img {
  object-fit: cover;
}
.img__lZlgF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__unK5Q {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__unK5Q > picture > img {
  object-fit: cover;
}
.img__unK5Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__pjqlg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__pjqlg > picture > img {
  object-fit: cover;
}
.img__pjqlg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__zpB61 {
  max-width: var(--token-nbz2BpSAaulV);
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__zpB61 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__zpB61 > :global(.__wab_flex-container) > *,
.columns__zpB61 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zpB61 > :global(.__wab_flex-container) > picture > img,
.columns__zpB61
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.columns__zpB61 {
  --plsmc-rc-col-gap: 0px;
}
.columns__zpB61 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__zpB61 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__zpB61 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zpB61 {
    max-width: var(--token-nbz2BpSAaulV);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zpB61 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    --plsmc-rc-col-gap: 32px;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zpB61 > :global(.__wab_flex-container) > *,
  .columns__zpB61 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__zpB61 > :global(.__wab_flex-container) > picture > img,
  .columns__zpB61
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zpB61 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8XCs4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__qqJ0T:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__nQwOm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__ypK5E:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__wyOva {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__mjQ0E:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__njgDq {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__z7GDn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__z7GDn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__z7GDn > :global(.__wab_flex-container) > *,
.freeBox__z7GDn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z7GDn > :global(.__wab_flex-container) > picture > img,
.freeBox__z7GDn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___7Y8My {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-tgrpkE4G9QuW);
}
.text___9Qxg8 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-tgrpkE4G9QuW);
  line-height: 1;
}
.text__e5SgH {
  font-size: 20px;
  color: var(--token-C8BsyFXMWTB6);
  line-height: 28px;
}
.freeBox___6EozP {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___6EozP > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6EozP > :global(.__wab_flex-container) > *,
.freeBox___6EozP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6EozP > :global(.__wab_flex-container) > picture > img,
.freeBox___6EozP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___5Udz:global(.__wab_instance) {
  position: relative;
}
.svg__bECss {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__wo6Yk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___9INv:global(.__wab_instance) {
  position: relative;
}
.svg__waEnR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__mxBb {
  height: auto;
  font-weight: 400;
}
.svg__eEL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
