.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 32px;
  }
}
.freeBox__pBjJs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-nbz2BpSAaulV);
  min-width: 0;
}
.freeBox__pBjJs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pBjJs > :global(.__wab_flex-container) > *,
.freeBox__pBjJs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pBjJs > :global(.__wab_flex-container) > picture > img,
.freeBox__pBjJs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pBjJs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pBjJs > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pBjJs > :global(.__wab_flex-container) > *,
  .freeBox__pBjJs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pBjJs > :global(.__wab_flex-container) > picture > img,
  .freeBox__pBjJs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__dZkcH {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__dZkcH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__dZkcH > :global(.__wab_flex-container) > *,
.freeBox__dZkcH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dZkcH > :global(.__wab_flex-container) > picture > img,
.freeBox__dZkcH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dZkcH > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dZkcH > :global(.__wab_flex-container) > *,
  .freeBox__dZkcH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dZkcH > :global(.__wab_flex-container) > picture > img,
  .freeBox__dZkcH
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__votkR:global(.__wab_instance) {
  position: relative;
}
.svg__eltp5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__u2UrB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bsYYo:global(.__wab_instance) {
  position: relative;
}
.svg__i6MUb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__aptZi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___773Cp:global(.__wab_instance) {
  position: relative;
}
.svg__ljzH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xxKh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__jpPP:global(.__wab_instance) {
  position: relative;
}
.svg__drwVf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__se5D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__i1CAp:global(.__wab_instance) {
  position: relative;
}
.svg__hPt4O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___6Rc4E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__dhGsh:global(.__wab_instance) {
  position: relative;
}
.svg__lQIn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__kmQkm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__ycQj2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__e48Uv {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: var(--token-tyDAZ_mRcnlC);
  border-radius: 6px;
  border-width: 0px;
}
.button__mTjOd:global(.__wab_instance) {
  position: relative;
}
.svg__eGpC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__eLu2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
