@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-lL1S1YNcRP1x: #007aff;
  --plasmic-token-blue: var(--token-lL1S1YNcRP1x);
  --token-nbz2BpSAaulV: 1080px;
  --plasmic-token-content-max-width: var(--token-nbz2BpSAaulV);
  --token--U5gao3zdC48: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token--U5gao3zdC48);
  --token-tLdQSvMSkWsN: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-tLdQSvMSkWsN);
  --token-tyDAZ_mRcnlC: #000000d9;
  --plasmic-token-light-label: var(--token-tyDAZ_mRcnlC);
  --token-emIQOznJrGFv: #05050599;
  --plasmic-token-light-secondary: var(--token-emIQOznJrGFv);
  --token-MqFCcU0i94Kh: #007aff;
  --plasmic-token-light-blue: var(--token-MqFCcU0i94Kh);
  --token-78plxWLWK6JU: #ff3b30;
  --plasmic-token-light-red: var(--token-78plxWLWK6JU);
  --token-QEN3fVTvvZ_L: #ffffff;
  --plasmic-token-white: var(--token-QEN3fVTvvZ_L);
  --token-tgrpkE4G9QuW: #ffffffd9;
  --plasmic-token-dark-label: var(--token-tgrpkE4G9QuW);
  --token-C8BsyFXMWTB6: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-C8BsyFXMWTB6);
  --token-zUuDFSjG04a0: #0000001a;
  --plasmic-token-light-quarternary: var(--token-zUuDFSjG04a0);
  --token-sUtdS4OnRTYq: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-sUtdS4OnRTYq);
  --token-5xLrfFDRShrf: #32d74b;
  --plasmic-token-dark-green: var(--token-5xLrfFDRShrf);
  --token-pupy1e9Ck9H_: #0a84ff;
  --plasmic-token-dark-blue: var(--token-pupy1e9Ck9H_);
  --token-TTDLoyngMiwW: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-TTDLoyngMiwW);
  --token-NkH_CD1hbL6Q: #34c759;
  --plasmic-token-light-green: var(--token-NkH_CD1hbL6Q);
  --token-EKlYBVjrrGqG: #5856d6;
  --plasmic-token-light-indigo: var(--token-EKlYBVjrrGqG);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-hsNTvyJS-5KN_font-family: "Roboto", sans-serif;
  --mixin-hsNTvyJS-5KN_font-size: 16px;
  --mixin-hsNTvyJS-5KN_font-weight: 400;
  --mixin-hsNTvyJS-5KN_font-style: normal;
  --mixin-hsNTvyJS-5KN_color: var(--token-tyDAZ_mRcnlC);
  --mixin-hsNTvyJS-5KN_text-align: left;
  --mixin-hsNTvyJS-5KN_text-transform: none;
  --mixin-hsNTvyJS-5KN_line-height: 1.5;
  --mixin-hsNTvyJS-5KN_letter-spacing: normal;
  --mixin-hsNTvyJS-5KN_white-space: pre-wrap;
  --mixin-hsNTvyJS-5KN_user-select: text;
  --mixin-hsNTvyJS-5KN_text-decoration-line: none;
  --mixin-hsNTvyJS-5KN_text-overflow: clip;
  --mixin-5VRcd8swCBzA_white-space: pre-wrap;
  --mixin-FEs9xlHECccC_font-family: "Inter", sans-serif;
  --mixin-FEs9xlHECccC_color: #000000;
  --mixin-FEs9xlHECccC_font-size: 72px;
  --mixin-FEs9xlHECccC_font-weight: 900;
  --mixin-FEs9xlHECccC_letter-spacing: -4px;
  --mixin-FEs9xlHECccC_line-height: 1;
  --mixin-FEs9xlHECccC_white-space: pre-wrap;
  --mixin-wdJ5VfpLXuWN_font-family: "Inter", sans-serif;
  --mixin-wdJ5VfpLXuWN_color: #000000;
  --mixin-wdJ5VfpLXuWN_font-size: 32px;
  --mixin-wdJ5VfpLXuWN_font-weight: 600;
  --mixin-wdJ5VfpLXuWN_letter-spacing: -0.8px;
  --mixin-wdJ5VfpLXuWN_line-height: 1.2;
  --mixin-wdJ5VfpLXuWN_white-space: pre-wrap;
  --mixin-zQTFhPk8IEXb_font-family: "Inter", sans-serif;
  --mixin-zQTFhPk8IEXb_color: #000000;
  --mixin-zQTFhPk8IEXb_font-size: 24px;
  --mixin-zQTFhPk8IEXb_font-weight: 600;
  --mixin-zQTFhPk8IEXb_letter-spacing: -0.5px;
  --mixin-zQTFhPk8IEXb_line-height: 1.3;
  --mixin-zQTFhPk8IEXb_white-space: pre-wrap;
  --mixin-leMKJxYAKu1-_font-family: "Inter", sans-serif;
  --mixin-leMKJxYAKu1-_color: #000000;
  --mixin-leMKJxYAKu1-_font-size: 20px;
  --mixin-leMKJxYAKu1-_font-weight: 600;
  --mixin-leMKJxYAKu1-_letter-spacing: -0.3px;
  --mixin-leMKJxYAKu1-_line-height: 1.5;
  --mixin-leMKJxYAKu1-_white-space: pre-wrap;
  --mixin-WI44FBE12O84_font-family: "Inter", sans-serif;
  --mixin-WI44FBE12O84_color: #000000;
  --mixin-WI44FBE12O84_font-size: 16px;
  --mixin-WI44FBE12O84_font-weight: 600;
  --mixin-WI44FBE12O84_line-height: 1.5;
  --mixin-WI44FBE12O84_white-space: pre-wrap;
  --mixin-Qh2W8EuG19Os_border-left-color: #dddddd;
  --mixin-Qh2W8EuG19Os_border-left-style: solid;
  --mixin-Qh2W8EuG19Os_border-left-width: 3px;
  --mixin-Qh2W8EuG19Os_color: #888888;
  --mixin-Qh2W8EuG19Os_padding-left: 10px;
  --mixin-Qh2W8EuG19Os_white-space: pre-wrap;
  --mixin-lljAjFq-GeLq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lljAjFq-GeLq_border-bottom-color: #dddddd;
  --mixin-lljAjFq-GeLq_border-bottom-style: solid;
  --mixin-lljAjFq-GeLq_border-bottom-width: 1px;
  --mixin-lljAjFq-GeLq_border-left-color: #dddddd;
  --mixin-lljAjFq-GeLq_border-left-style: solid;
  --mixin-lljAjFq-GeLq_border-left-width: 1px;
  --mixin-lljAjFq-GeLq_border-right-color: #dddddd;
  --mixin-lljAjFq-GeLq_border-right-style: solid;
  --mixin-lljAjFq-GeLq_border-right-width: 1px;
  --mixin-lljAjFq-GeLq_border-top-color: #dddddd;
  --mixin-lljAjFq-GeLq_border-top-style: solid;
  --mixin-lljAjFq-GeLq_border-top-width: 1px;
  --mixin-lljAjFq-GeLq_border-bottom-left-radius: 3px;
  --mixin-lljAjFq-GeLq_border-bottom-right-radius: 3px;
  --mixin-lljAjFq-GeLq_border-top-left-radius: 3px;
  --mixin-lljAjFq-GeLq_border-top-right-radius: 3px;
  --mixin-lljAjFq-GeLq_font-family: "Inconsolata";
  --mixin-lljAjFq-GeLq_padding-bottom: 1px;
  --mixin-lljAjFq-GeLq_padding-left: 4px;
  --mixin-lljAjFq-GeLq_padding-right: 4px;
  --mixin-lljAjFq-GeLq_padding-top: 1px;
  --mixin-lljAjFq-GeLq_white-space: pre-wrap;
  --mixin-uMbxKlPfC9tH_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-uMbxKlPfC9tH_border-bottom-color: #dddddd;
  --mixin-uMbxKlPfC9tH_border-bottom-style: solid;
  --mixin-uMbxKlPfC9tH_border-bottom-width: 1px;
  --mixin-uMbxKlPfC9tH_border-left-color: #dddddd;
  --mixin-uMbxKlPfC9tH_border-left-style: solid;
  --mixin-uMbxKlPfC9tH_border-left-width: 1px;
  --mixin-uMbxKlPfC9tH_border-right-color: #dddddd;
  --mixin-uMbxKlPfC9tH_border-right-style: solid;
  --mixin-uMbxKlPfC9tH_border-right-width: 1px;
  --mixin-uMbxKlPfC9tH_border-top-color: #dddddd;
  --mixin-uMbxKlPfC9tH_border-top-style: solid;
  --mixin-uMbxKlPfC9tH_border-top-width: 1px;
  --mixin-uMbxKlPfC9tH_border-bottom-left-radius: 3px;
  --mixin-uMbxKlPfC9tH_border-bottom-right-radius: 3px;
  --mixin-uMbxKlPfC9tH_border-top-left-radius: 3px;
  --mixin-uMbxKlPfC9tH_border-top-right-radius: 3px;
  --mixin-uMbxKlPfC9tH_font-family: "Inconsolata";
  --mixin-uMbxKlPfC9tH_padding-bottom: 3px;
  --mixin-uMbxKlPfC9tH_padding-left: 6px;
  --mixin-uMbxKlPfC9tH_padding-right: 6px;
  --mixin-uMbxKlPfC9tH_padding-top: 3px;
  --mixin-uMbxKlPfC9tH_white-space: pre-wrap;
  --mixin-jrylW-nuO2jW_display: flex;
  --mixin-jrylW-nuO2jW_flex-direction: column;
  --mixin-jrylW-nuO2jW_align-items: stretch;
  --mixin-jrylW-nuO2jW_justify-content: flex-start;
  --mixin-jrylW-nuO2jW_list-style-position: outside;
  --mixin-jrylW-nuO2jW_padding-left: 40px;
  --mixin-jrylW-nuO2jW_position: relative;
  --mixin-jrylW-nuO2jW_list-style-type: decimal;
  --mixin-jrylW-nuO2jW_white-space: pre-wrap;
  --mixin-6ULsGoY4d4HK_display: flex;
  --mixin-6ULsGoY4d4HK_flex-direction: column;
  --mixin-6ULsGoY4d4HK_align-items: stretch;
  --mixin-6ULsGoY4d4HK_justify-content: flex-start;
  --mixin-6ULsGoY4d4HK_list-style-position: outside;
  --mixin-6ULsGoY4d4HK_padding-left: 40px;
  --mixin-6ULsGoY4d4HK_position: relative;
  --mixin-6ULsGoY4d4HK_list-style-type: disc;
  --mixin-6ULsGoY4d4HK_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-9N9FsR1l8XY4_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-9N9FsR1l8XY4_white-space);
  --mixin-N4vNAc2QPG0v_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-N4vNAc2QPG0v_white-space);
  --mixin-CoS0iIqZ6Rog_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-CoS0iIqZ6Rog_box-shadow);
  --mixin-CoS0iIqZ6Rog_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-CoS0iIqZ6Rog_white-space
  );
  --mixin-dHhM1REaQNf2_white-space: pre-wrap;
  --plasmic-mixin-10-16-padding_white-space: var(
    --mixin-dHhM1REaQNf2_white-space
  );
  --mixin-nWR-VqIzlFUC_white-space: pre-wrap;
  --plasmic-mixin-6-radius_white-space: var(--mixin-nWR-VqIzlFUC_white-space);
  --mixin-0dScoxrt-DP4_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-0dScoxrt-DP4_box-shadow
  );
  --mixin-0dScoxrt-DP4_white-space: pre-wrap;
  --plasmic-mixin-focus-outline_white-space: var(
    --mixin-0dScoxrt-DP4_white-space
  );
  --mixin-eJhOaaxo8m4h_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-eJhOaaxo8m4h_box-shadow
  );
  --mixin-eJhOaaxo8m4h_white-space: pre-wrap;
  --plasmic-mixin-extra-small-shadow_white-space: var(
    --mixin-eJhOaaxo8m4h_white-space
  );
  --mixin-Tw0KcVG63_C5_white-space: pre-wrap;
  --plasmic-mixin-heading-6_white-space: var(--mixin-Tw0KcVG63_C5_white-space);
  --mixin-86WxWSYlZpWi_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-86WxWSYlZpWi_box-shadow
  );
  --mixin-86WxWSYlZpWi_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-86WxWSYlZpWi_white-space
  );
  --mixin-Ibajf-J5XVSz_white-space: pre-wrap;
  --plasmic-mixin-heading-2_white-space: var(--mixin-Ibajf-J5XVSz_white-space);
  --mixin-FGTi1O0BAZdT_white-space: pre-wrap;
  --plasmic-mixin-bg-image_white-space: var(--mixin-FGTi1O0BAZdT_white-space);
  --mixin-PP51RCVDvvaJ_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-PP51RCVDvvaJ_white-space);
  --mixin-ACz4FibrZUt5_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-ACz4FibrZUt5_white-space
  );
  --mixin-jwKc9yExSM5q_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-jwKc9yExSM5q_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-hsNTvyJS-5KN_font-family);
  font-size: var(--mixin-hsNTvyJS-5KN_font-size);
  font-weight: var(--mixin-hsNTvyJS-5KN_font-weight);
  font-style: var(--mixin-hsNTvyJS-5KN_font-style);
  color: var(--mixin-hsNTvyJS-5KN_color);
  text-align: var(--mixin-hsNTvyJS-5KN_text-align);
  text-transform: var(--mixin-hsNTvyJS-5KN_text-transform);
  line-height: var(--mixin-hsNTvyJS-5KN_line-height);
  letter-spacing: var(--mixin-hsNTvyJS-5KN_letter-spacing);
  white-space: var(--mixin-hsNTvyJS-5KN_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-FEs9xlHECccC_font-family);
  color: var(--mixin-FEs9xlHECccC_color);
  font-size: var(--mixin-FEs9xlHECccC_font-size);
  font-weight: var(--mixin-FEs9xlHECccC_font-weight);
  letter-spacing: var(--mixin-FEs9xlHECccC_letter-spacing);
  line-height: var(--mixin-FEs9xlHECccC_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-wdJ5VfpLXuWN_font-family);
  color: var(--mixin-wdJ5VfpLXuWN_color);
  font-size: var(--mixin-wdJ5VfpLXuWN_font-size);
  font-weight: var(--mixin-wdJ5VfpLXuWN_font-weight);
  letter-spacing: var(--mixin-wdJ5VfpLXuWN_letter-spacing);
  line-height: var(--mixin-wdJ5VfpLXuWN_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-zQTFhPk8IEXb_font-family);
  color: var(--mixin-zQTFhPk8IEXb_color);
  font-size: var(--mixin-zQTFhPk8IEXb_font-size);
  font-weight: var(--mixin-zQTFhPk8IEXb_font-weight);
  letter-spacing: var(--mixin-zQTFhPk8IEXb_letter-spacing);
  line-height: var(--mixin-zQTFhPk8IEXb_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-leMKJxYAKu1-_font-family);
  color: var(--mixin-leMKJxYAKu1-_color);
  font-size: var(--mixin-leMKJxYAKu1-_font-size);
  font-weight: var(--mixin-leMKJxYAKu1-_font-weight);
  letter-spacing: var(--mixin-leMKJxYAKu1-_letter-spacing);
  line-height: var(--mixin-leMKJxYAKu1-_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-WI44FBE12O84_font-family);
  color: var(--mixin-WI44FBE12O84_color);
  font-size: var(--mixin-WI44FBE12O84_font-size);
  font-weight: var(--mixin-WI44FBE12O84_font-weight);
  line-height: var(--mixin-WI44FBE12O84_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Qh2W8EuG19Os_color);
  padding-left: var(--mixin-Qh2W8EuG19Os_padding-left);
  border-left: var(--mixin-Qh2W8EuG19Os_border-left-width)
    var(--mixin-Qh2W8EuG19Os_border-left-style)
    var(--mixin-Qh2W8EuG19Os_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-lljAjFq-GeLq_font-family);
  border-radius: var(--mixin-lljAjFq-GeLq_border-top-left-radius)
    var(--mixin-lljAjFq-GeLq_border-top-right-radius)
    var(--mixin-lljAjFq-GeLq_border-bottom-right-radius)
    var(--mixin-lljAjFq-GeLq_border-bottom-left-radius);
  padding: var(--mixin-lljAjFq-GeLq_padding-top)
    var(--mixin-lljAjFq-GeLq_padding-right)
    var(--mixin-lljAjFq-GeLq_padding-bottom)
    var(--mixin-lljAjFq-GeLq_padding-left);
  border-top: var(--mixin-lljAjFq-GeLq_border-top-width)
    var(--mixin-lljAjFq-GeLq_border-top-style)
    var(--mixin-lljAjFq-GeLq_border-top-color);
  border-right: var(--mixin-lljAjFq-GeLq_border-right-width)
    var(--mixin-lljAjFq-GeLq_border-right-style)
    var(--mixin-lljAjFq-GeLq_border-right-color);
  border-bottom: var(--mixin-lljAjFq-GeLq_border-bottom-width)
    var(--mixin-lljAjFq-GeLq_border-bottom-style)
    var(--mixin-lljAjFq-GeLq_border-bottom-color);
  border-left: var(--mixin-lljAjFq-GeLq_border-left-width)
    var(--mixin-lljAjFq-GeLq_border-left-style)
    var(--mixin-lljAjFq-GeLq_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-uMbxKlPfC9tH_font-family);
  border-radius: var(--mixin-uMbxKlPfC9tH_border-top-left-radius)
    var(--mixin-uMbxKlPfC9tH_border-top-right-radius)
    var(--mixin-uMbxKlPfC9tH_border-bottom-right-radius)
    var(--mixin-uMbxKlPfC9tH_border-bottom-left-radius);
  padding: var(--mixin-uMbxKlPfC9tH_padding-top)
    var(--mixin-uMbxKlPfC9tH_padding-right)
    var(--mixin-uMbxKlPfC9tH_padding-bottom)
    var(--mixin-uMbxKlPfC9tH_padding-left);
  border-top: var(--mixin-uMbxKlPfC9tH_border-top-width)
    var(--mixin-uMbxKlPfC9tH_border-top-style)
    var(--mixin-uMbxKlPfC9tH_border-top-color);
  border-right: var(--mixin-uMbxKlPfC9tH_border-right-width)
    var(--mixin-uMbxKlPfC9tH_border-right-style)
    var(--mixin-uMbxKlPfC9tH_border-right-color);
  border-bottom: var(--mixin-uMbxKlPfC9tH_border-bottom-width)
    var(--mixin-uMbxKlPfC9tH_border-bottom-style)
    var(--mixin-uMbxKlPfC9tH_border-bottom-color);
  border-left: var(--mixin-uMbxKlPfC9tH_border-left-width)
    var(--mixin-uMbxKlPfC9tH_border-left-style)
    var(--mixin-uMbxKlPfC9tH_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-jrylW-nuO2jW_display);
  flex-direction: var(--mixin-jrylW-nuO2jW_flex-direction);
  align-items: var(--mixin-jrylW-nuO2jW_align-items);
  justify-content: var(--mixin-jrylW-nuO2jW_justify-content);
  list-style-position: var(--mixin-jrylW-nuO2jW_list-style-position);
  padding-left: var(--mixin-jrylW-nuO2jW_padding-left);
  position: var(--mixin-jrylW-nuO2jW_position);
  list-style-type: var(--mixin-jrylW-nuO2jW_list-style-type);
  flex-column-gap: var(--mixin-jrylW-nuO2jW_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-6ULsGoY4d4HK_display);
  flex-direction: var(--mixin-6ULsGoY4d4HK_flex-direction);
  align-items: var(--mixin-6ULsGoY4d4HK_align-items);
  justify-content: var(--mixin-6ULsGoY4d4HK_justify-content);
  list-style-position: var(--mixin-6ULsGoY4d4HK_list-style-position);
  padding-left: var(--mixin-6ULsGoY4d4HK_padding-left);
  position: var(--mixin-6ULsGoY4d4HK_position);
  list-style-type: var(--mixin-6ULsGoY4d4HK_list-style-type);
  flex-column-gap: var(--mixin-6ULsGoY4d4HK_flex-column-gap);
}
