.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__esU6X {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__esU6X > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__esU6X > :global(.__wab_flex-container) > *,
.freeBox__esU6X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__esU6X > :global(.__wab_flex-container) > picture > img,
.freeBox__esU6X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__esU6X {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__esU6X > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__esU6X > :global(.__wab_flex-container) > *,
  .freeBox__esU6X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__esU6X > :global(.__wab_flex-container) > picture > img,
  .freeBox__esU6X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__joWkh {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__joWkh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__joWkh > :global(.__wab_flex-container) > *,
.freeBox__joWkh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__joWkh > :global(.__wab_flex-container) > picture > img,
.freeBox__joWkh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__glQVj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__glQVj > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__glQVj > :global(.__wab_flex-container) > *,
.freeBox__glQVj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__glQVj > :global(.__wab_flex-container) > picture > img,
.freeBox__glQVj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__fWSxy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fWSxy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fWSxy > :global(.__wab_flex-container) > *,
.freeBox__fWSxy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fWSxy > :global(.__wab_flex-container) > picture > img,
.freeBox__fWSxy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__uyOai {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-emIQOznJrGFv);
  flex-shrink: 0;
}
.svg__j9MUk {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-emIQOznJrGFv);
  flex-shrink: 0;
}
.svg__kpxQp {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-emIQOznJrGFv);
  flex-shrink: 0;
}
.freeBox__yxPhm {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__yxPhm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yxPhm > :global(.__wab_flex-container) > *,
.freeBox__yxPhm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yxPhm > :global(.__wab_flex-container) > picture > img,
.freeBox__yxPhm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ioi5M {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-emIQOznJrGFv);
  height: auto;
}
.button__odL65:global(.__wab_instance) {
  position: relative;
}
.svg__zqXAx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wKZs {
  height: auto;
}
.svg__xY7X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___1EUji:global(.__wab_instance) {
  position: relative;
}
.svg__rw2V5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__joQ {
  height: auto;
}
.svg__h7UIe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__q7PI:global(.__wab_instance) {
  position: relative;
}
.svg___2QqiO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__uuqdI {
  height: auto;
}
.svg__fRyMd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__aoI5F:global(.__wab_instance) {
  position: relative;
}
.svg__eDLp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__eyPty {
  height: auto;
}
.svg__t4Nlq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__v4KYp {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__v4KYp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__v4KYp > :global(.__wab_flex-container) > *,
.freeBox__v4KYp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v4KYp > :global(.__wab_flex-container) > picture > img,
.freeBox__v4KYp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__zTese {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-emIQOznJrGFv);
  height: auto;
}
.button__joSqF:global(.__wab_instance) {
  position: relative;
}
.svg__vUrq6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bUpfr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ksaAp:global(.__wab_instance) {
  position: relative;
}
.svg__qNz2S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ugTo2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___3Dhx:global(.__wab_instance) {
  position: relative;
}
.svg__lHsJc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___1WyIi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__kNtx0 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__kNtx0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kNtx0 > :global(.__wab_flex-container) > *,
.freeBox__kNtx0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kNtx0 > :global(.__wab_flex-container) > picture > img,
.freeBox__kNtx0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__fkyzX {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-emIQOznJrGFv);
  height: auto;
}
.button__ew5Eg:global(.__wab_instance) {
  position: relative;
}
.svg__rQ8Uc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___5HWnE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__x93Dh:global(.__wab_instance) {
  position: relative;
}
.svg__rgXk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yxC2L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___3AJs2:global(.__wab_instance) {
  position: relative;
}
.svg___8VlXu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__egBIv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__aqr6C:global(.__wab_instance) {
  position: relative;
}
.svg__tdYba {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__lMa0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
