.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__fuyMh {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__fuyMh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__fuyMh > :global(.__wab_flex-container) > *,
.freeBox__fuyMh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fuyMh > :global(.__wab_flex-container) > picture > img,
.freeBox__fuyMh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fuyMh {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__wdyz2 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__rhFzC {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__yyu86:global(.__wab_instance) {
  position: relative;
}
.img__cZiWe {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__cZiWe > picture > img {
  object-fit: cover;
}
.img__cZiWe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp___4SwU:global(.__wab_instance) {
  position: relative;
}
.img___3Khhl {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___3Khhl > picture > img {
  object-fit: cover;
}
.img___3Khhl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp__qqaKy:global(.__wab_instance) {
  position: relative;
}
.img__dnsB9 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__dnsB9 > picture > img {
  object-fit: cover;
}
.img__dnsB9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp__kYgvy:global(.__wab_instance) {
  position: relative;
}
.img__bCnx5 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__bCnx5 > picture > img {
  object-fit: cover;
}
.img__bCnx5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-EKlYBVjrrGqG);
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__u7APk {
  display: flex;
  flex-direction: column;
}
.freeBox__u7APk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__u7APk > :global(.__wab_flex-container) > *,
.freeBox__u7APk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u7APk > :global(.__wab_flex-container) > picture > img,
.freeBox__u7APk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__obNxl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__fnmx7 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__natWm {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__natWm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__natWm > :global(.__wab_flex-container) > *,
.freeBox__natWm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__natWm > :global(.__wab_flex-container) > picture > img,
.freeBox__natWm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2Kh8R {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__x6XB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__kkDlc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QEN3fVTvvZ_L);
  width: 28px;
  height: 28px;
}
.text___9Hogg {
  padding-left: 0px;
}
.column__sljIb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__weCB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___0V0Lc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QEN3fVTvvZ_L);
  width: 28px;
  height: 28px;
}
.text__nadt3 {
  padding-left: 0px;
}
.column__gmI2L {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__iwztf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__sz7Hi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QEN3fVTvvZ_L);
  width: 28px;
  height: 28px;
}
.text__kb5W6 {
  padding-left: 0px;
}
.column__pxn7C {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__sBdis:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__uJg2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QEN3fVTvvZ_L);
  width: 28px;
  height: 28px;
}
.text__rUz8M {
  padding-left: 0px;
}
.freeBox__hhrq {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__hhrq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__hhrq > :global(.__wab_flex-container) > *,
.freeBox__hhrq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hhrq > :global(.__wab_flex-container) > picture > img,
.freeBox__hhrq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hhrq {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__tpsKp {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__tpsKp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__tpsKp > :global(.__wab_flex-container) > *,
.freeBox__tpsKp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tpsKp > :global(.__wab_flex-container) > picture > img,
.freeBox__tpsKp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__eAFeY {
  display: flex;
  flex-direction: column;
}
.freeBox__eAFeY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eAFeY > :global(.__wab_flex-container) > *,
.freeBox__eAFeY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eAFeY > :global(.__wab_flex-container) > picture > img,
.freeBox__eAFeY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yfx77 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__urZ9Y {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__urZ9Y {
    text-align: center;
  }
}
.text__gLyji {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__cuvLh {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__cuvLh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__cuvLh > :global(.__wab_flex-container) > *,
.freeBox__cuvLh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cuvLh > :global(.__wab_flex-container) > picture > img,
.freeBox__cuvLh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cuvLh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cuvLh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cuvLh > :global(.__wab_flex-container) > *,
  .freeBox__cuvLh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cuvLh > :global(.__wab_flex-container) > picture > img,
  .freeBox__cuvLh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__iRsbS:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___5Xjn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ywD4K {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___9VmIc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2WlDd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___1ViBw {
  height: auto;
}
.priceCard___8GIfg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___7MyQk {
  color: var(--token-78plxWLWK6JU);
}
.valueProp__cwWvv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__piId {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__of4Xz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__an0Un {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__iapFb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sBxXr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__yOwSn {
  height: auto;
}
.priceCard__zXlTs:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___5Cxb0 {
  color: var(--token-NkH_CD1hbL6Q);
}
.valueProp___20N3Q:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fj37D {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kW1Tf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9Ksqc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__rYjSf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__n5Mer {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bemWz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qYGlv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___6ZXc9 {
  height: auto;
}
.priceCard__vblqz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__hqZh {
  color: var(--token-lL1S1YNcRP1x);
}
.valueProp__jziQc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nTmUj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__abbxW:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__u5N1H {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__aqsv5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9YIdn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__qRbnV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__epMk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__umx0N {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
